In [ ]:

import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

conn = sqlite3.connect("sales_data.db")
cursor = conn.cursor()

cursor.execute("""CREATE TABLE IF NOT EXISTS sales (
    product TEXT,
    quantity INTEGER,
    price REAL
)""")

cursor.execute("DELETE FROM sales")

sample_data = [
    ("Shirt", 10, 500),
    ("Shirt", 5, 500),
    ("Shoes", 3, 1500),
    ("Shoes", 2, 1500),
    ("Pants", 7, 800),
    ("Pants", 4, 800),
]

cursor.executemany("INSERT INTO sales (product, quantity, price) VALUES (?, ?, ?)", sample_data)
conn.commit()

query = """
SELECT 
    product,
    SUM(quantity) AS total_qty,
    SUM(quantity * price) AS revenue
FROM sales
GROUP BY product
"""

df = pd.read_sql_query(query, conn)
print(df)

plt.figure(figsize=(7,5))
plt.bar(df['product'], df['revenue'])
plt.title("Revenue by Product")
plt.xlabel("Product")
plt.ylabel("Revenue")
plt.tight_layout()
plt.savefig("sales_chart.png")
plt.show()